Android Open Source Project
FortiClient
Google/AndroidStudio2023.1
Iriun
Logseq
Min
Postman
Thunar
autostart
dconf
discord
evolution/sources
falkon/profiles
flutter
gedit
gh
google-chrome
gthumb
gtk-3.0
gtk-4.0
ibus/bus
lazygit
nautilus
nvim.lazy
obsidian
pamac
pulse
qt5ct
qt6ct
rncbc.org
rofi
systemd/user
touchegg
xfce4/xfconf/xfce-perchannel-xml
yarn/global
yelp
zshrc
.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
clight.conf
connections.db
droidcam
gnome-layout-switcher.conf
greenclip.toml
kglobalshortcutsrc
kmixrc
manjaro-hello.json
mimeapps.list
monitors.xml
monitors.xml~
pavucontrol.ini
rygel.conf
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
omf
warp-terminal
screenkey.json
AFFiNE
Bitwarden CLI
htop
obs-studio
totem
Bitwarden
GIMP/2.10
enchant
go/telemetry/local
google-chrome-unstable
gtk-2.0
menus
neofetch
pop-shell
pop-system-updater
qalculate
gnome-initial-setup-done
Google/AndroidStudio2023.2
fvm
gnome-control-center/backgrounds
libreoffice/4/user
syncthing
QtProject.conf
nvim.old
